.main-chat
  .main-chat__main-content
    .main-chat__main-content__messages
      .main-chat__main-content__messages__user-message
        .main-chat__main-content__messages__user-message__name
          masa
        .main-chat__main-content__messages__user-message__date
          2019/11/20(wed)17:43:01
        .main-chat__main-content__messages__user-message__message
          こここここに日は
    .main-chat__main-content__header
      .main-chat__main-content__header__right-content
        -# =link_to "Edit", edit_group_path(@group)
        Edit
      .main-chat__main-content__header__left-content
        .main-chat__main-content__header__left-content__group-name
          test
        .main-chat__main-content__header__left-content__user-name
          Menber:999999
    .main-chat__main-content__footer
      .main-chat__main-content__footer__form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .main-chat__main-content__footer__icon
        %label{class:"form-image"} 
          %i.far.fa-image.fa-lg
          %input{type: "file",:id =>"btn-image"}
      .main-chat__main-content__footer__send-btn
        Send