.side-ber
  .side-ber__top-content
    .side-ber__top-content__user
      .side-ber__top-content__user__user-name
        masa
      .side-ber__top-content__user__user-icon
        = link_to"#",class:"edit_icon"do
          %i.far.fa-edit
        = link_to"#",class:"set_icon"do
          %i.fas.fa-cog
  .side-ber__group
    .side-ber__group__name
      グループ名
    .side-ber__group__message
      グループメッセージ


  
  
 