* {
  box-sizing: border-box;
}
.wrapper{
  display: flex;
}
.side-ber{
  display: inline-block;
  width   :300px;
  height  :100vh;
  background-color:#2f3e51;
  float:left;

  &__group{
    width: 300px;
    height: 105px;
    background-color:#2f3e51;
    padding-top:20px;
    padding-left: 20px;
    padding-right: 20px;
    color:#ffffff;
    &__name{
        width:260px;
        height:20px;
        background-color: #2f3e51;
        font-size:15px;
        color:#ffffff;
    }
    &__message{
        margin-top:5px;
        width:260px;
        height:20px;
        background-color: #2f3e51;
        font-size:11px;
        color:#ffffff;
    }
  }
  &__top-content{
    width:100%;
    height:100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__user{
      width:260px;
      height:20px;
      color:white;
      display: flex;
      justify-content: space-between;
      &__user-name{
        font-size: 16px;
      }
      &__user-icon{
        display: inline-block;
        display: flex;
      }
    }
  }
}
 .edit_icon{
  color:#ffffff;
  display: inline-block;
  text-decoration: none;
}
.set_icon{
  color:#ffffff;
  margin-left: 5px;
}
#btn-image{
  display: none;
  color: #31aef0;
}
.group_link{
  color:#ffffff;
}
.group_name{
  color:#ffffff;
}
.aaa{
  text-decoration: none;
}
.main-chat{
  height:100vh;
  width:calc(100vw - 300px);
  float:right;
  &__main-content{ 
    width  :100%;
    height :100vh;
    position: relative;
    &__messages{
      width:100%;
      height:calc(100vh - 100px);
      position: absolute;
      position: relative;
      top:100px;
      overflow: scroll;
      &__user-message{
        height:200px;
        width:100%;
        position: relative;
        position: absolute;
        left:40px;
        top:35px;
        display: flex;
        &__name{
          height:20px;
          width:50px;
          color:#333333;  
          font-size:16px;
        }
        &__date{
          height:20px;
          width:100px;
          font-size:12px;
          color:#999999;
        }
      
        &__message{
          position: absolute;
          top:40px;
          height:100%;
          width:100%;
          font-size:14px;
          color:#434A45;
        }
      }
    }
    &__footer{
    width:calc(100vw - 300px);
    height:90px;
    position: relative;
    position: absolute;
    bottom:0;
    background-color:#d2d2d2;
    display: flex;
    padding: 20px;
    padding-left: 50px;
      &__form{
        height:50px;
        width:850px;
        background-color: #ffffff;
        color:#999999;
        padding: 10px;
      }
      &__icon{
        height:50px;
        width:100px;
        background-color: #ffffff;
        text-align: right;
        padding: 15px;
      }
      &__send-btn{
        float:right;
        margin-left: 20px;
        background-color:#31aef0;
        height:50px;
        width:100px;
        color:#ffffff;
        text-align: center;
        padding: 12px;;
      }
    }
    &__header{
    width:calc(100vw - 300px);
    height:100px;
    background-color:#ffffff;
    border: solid #eeeeee;
    position: fixed;
    top:0;
      &__right-content{
        height:40px;
        width:80px;
        color:#31aef0;
        float:right;
        margin-right:40px;
        margin-top:28px;
        line-height: 40px;
        padding-left:20px;
        border: solid 1px #38aef0;
        }
      &__left-content{
        width:100px;
        height:100px;
        position: relative;
        &__group-name{
          width:100px;
          height:25px;
          color:#333333;
          position: absolute;
          top:35px;
          left:40px;
          font-size:20px;
        }
        &__user-name{
          width:100px;
          height:25px;
          color:#999999;
          position:absolute;
          left:40px;
          bottom: 0;
          font-size:12px;
        }
      }
    }
  }
}
